:root {
    --footer-height: 130px;
}

.is-fixed {
    position: fixed;
    width: 100%;
}

#connection-error {
    display: none;
    position: fixed;
}

footer {
    bottom: 0;
    height: var(--footer-height);
}

#main {
    padding-top: 50px;
    padding-bottom: var(--footer-height);
}

.table-container {
    overflow: visible;
}

#callsign_table thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    background-color: var(--bulma-table-background-color);
    z-index: 1;
}
